<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/scss/all.scss" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1
      class="index-title text-primary-500 text-md-info-light fs-9 fs-md-1 display-lg-1"
    >
      您的vite專案，運行正常。有套用變數顏色。文字斷點，包含fs-*和display-*。拖拉螢幕寬度產生斷點。
    </h1>
    <img src="../assets/images/首頁/教練/coach-1.jpg" alt="" />

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
